@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-search:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-inst:before {
  content: "\e903";
}

._icon-fb:before {
  content: "\e904";
}

._icon-tg:before {
  content: "\e905";
}

._icon-vk:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 72.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.main-title {
  line-height: 1.2285714286;
  font-weight: 500;
  text-align: center;
}

@supports (font-size: clamp( 1.25rem , 0.1005747126rem  +  5.7471264368vw , 4.375rem )) {
  .main-title {
    font-size: clamp( 1.25rem , 0.1005747126rem  +  5.7471264368vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.1005747126rem  +  5.7471264368vw , 4.375rem )) {
  .main-title {
    font-size: calc(1.25rem + 3.125 * (100vw - 20rem) / 54.375);
  }
}

.main-btn {
  display: block;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  background-color: #28706F;
  padding: 21px 57px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  border: 1px solid #28706F;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  cursor: pointer;
}

.header {
  position: relative;
  background-color: #28706F;
}

@supports (padding-bottom: clamp( 0.3125rem , -1.871408046rem  +  10.9195402299vw , 6.25rem )) {
  .header {
    padding-bottom: clamp( 0.3125rem , -1.871408046rem  +  10.9195402299vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.3125rem , -1.871408046rem  +  10.9195402299vw , 6.25rem )) {
  .header {
    padding-bottom: calc(0.3125rem + 5.9375 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .header {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .header {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

.header::after {
  content: "";
  content: "";
  background-image: url("../img/header/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 1420px, contain;
  opacity: 0.15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@supports (padding-top: clamp( 1.25rem , 0.5373563218rem  +  3.5632183908vw , 3.1875rem )) {
  .header__container {
    padding-top: clamp( 1.25rem , 0.5373563218rem  +  3.5632183908vw , 3.1875rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.5373563218rem  +  3.5632183908vw , 3.1875rem )) {
  .header__container {
    padding-top: calc(1.25rem + 1.9375 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 0.625rem , -0.3864942529rem  +  5.0574712644vw , 3.375rem )) {
  .header__container {
    margin-bottom: clamp( 0.625rem , -0.3864942529rem  +  5.0574712644vw , 3.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.3864942529rem  +  5.0574712644vw , 3.375rem )) {
  .header__container {
    margin-bottom: calc(0.625rem + 2.75 * (100vw - 20rem) / 54.375);
  }
}

.header__logo {
  max-width: 224px;
  max-height: 24px;
}

.header__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 60px;
}

.header__icon {
  cursor: pointer;
  font-size: 1.375rem;
  color: #FFFFFF;
}

.header__bottom {
  margin: 0px 0px 50px 0px;
}

.menu__body {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  padding: 50px 20px;
  text-align: center;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.menu__link {
  font-size: 1.5rem;
  color: #D7E2E8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

html.menu-open .menu__body {
  right: 0;
  width: 30%;
  opacity: 1;
  visibility: visible;
}

.header__input {
  position: absolute;
  left: -260px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 24px;
  max-width: 250px;
  padding: 0 20px;
}

.header__input._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: -300px;
  z-index: 2;
}

.bottom-header__container {
  max-width: 1402px;
  position: relative;
}

.bottom-header__img-central {
  max-width: 1402px;
  max-height: 790px;
  pointer-events: none;
}

.bottom-header__img-central img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-header__text {
  position: absolute;
  top: 90%;
  left: 10%;
  max-width: 560px;
  max-width: 40%;
  line-height: 1.6;
  color: #D7E2E8;
}

@supports (font-size: clamp( 0.875rem , 0.7370689655rem  +  0.6896551724vw , 1.25rem )) {
  .bottom-header__text {
    font-size: clamp( 0.875rem , 0.7370689655rem  +  0.6896551724vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7370689655rem  +  0.6896551724vw , 1.25rem )) {
  .bottom-header__text {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 54.375);
  }
}

.bottom-header__img-arrow {
  position: absolute;
  top: 83%;
  left: 51%;
  max-width: 176px;
  max-height: 151px;
}

@supports (width: clamp( 2.5rem , -0.6264367816rem  +  15.632183908vw , 11rem )) {
  .bottom-header__img-arrow {
    width: clamp( 2.5rem , -0.6264367816rem  +  15.632183908vw , 11rem );
  }
}

@supports not (width: clamp( 2.5rem , -0.6264367816rem  +  15.632183908vw , 11rem )) {
  .bottom-header__img-arrow {
    width: calc(2.5rem + 8.5 * (100vw - 20rem) / 54.375);
  }
}

@supports (height: clamp( 2.5rem , -0.0517241379rem  +  12.7586206897vw , 9.4375rem )) {
  .bottom-header__img-arrow {
    height: clamp( 2.5rem , -0.0517241379rem  +  12.7586206897vw , 9.4375rem );
  }
}

@supports not (height: clamp( 2.5rem , -0.0517241379rem  +  12.7586206897vw , 9.4375rem )) {
  .bottom-header__img-arrow {
    height: calc(2.5rem + 6.9375 * (100vw - 20rem) / 54.375);
  }
}

.bottom-header__img-arrow img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bottom-header__img-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 84%;
  left: 67.3%;
  cursor: pointer;
  background: #28706F;
  border-radius: 50%;
  z-index: 2;
}

@supports (width: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem )) {
  .bottom-header__img-text {
    width: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem );
  }
}

@supports not (width: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem )) {
  .bottom-header__img-text {
    width: calc(5rem + 5 * (100vw - 20rem) / 54.375);
  }
}

@supports (height: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem )) {
  .bottom-header__img-text {
    height: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem );
  }
}

@supports not (height: clamp( 5rem , 3.1609195402rem  +  9.1954022989vw , 10rem )) {
  .bottom-header__img-text {
    height: calc(5rem + 5 * (100vw - 20rem) / 54.375);
  }
}

.bottom-header__img-text::before {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: float 0.8s infinite linear alternate;
          animation: float 0.8s infinite linear alternate;
}

@supports (font-size: clamp( 0.4375rem , 0.1386494253rem  +  1.4942528736vw , 1.25rem )) {
  .bottom-header__img-text::before {
    font-size: clamp( 0.4375rem , 0.1386494253rem  +  1.4942528736vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.4375rem , 0.1386494253rem  +  1.4942528736vw , 1.25rem )) {
  .bottom-header__img-text::before {
    font-size: calc(0.4375rem + 0.8125 * (100vw - 20rem) / 54.375);
  }
}

.bottom-header__img-text img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-animation: circle 19s infinite linear;
          animation: circle 19s infinite linear;
}

.bottom-header__img-heart {
  position: absolute;
  top: 0px;
  left: 68.5%;
}

@supports (width: clamp( 1.5625rem , -0.069683908rem  +  8.1609195402vw , 6rem )) {
  .bottom-header__img-heart {
    width: clamp( 1.5625rem , -0.069683908rem  +  8.1609195402vw , 6rem );
  }
}

@supports not (width: clamp( 1.5625rem , -0.069683908rem  +  8.1609195402vw , 6rem )) {
  .bottom-header__img-heart {
    width: calc(1.5625rem + 4.4375 * (100vw - 20rem) / 54.375);
  }
}

@supports (height: clamp( 1.5625rem , 0.3670977011rem  +  5.9770114943vw , 4.8125rem )) {
  .bottom-header__img-heart {
    height: clamp( 1.5625rem , 0.3670977011rem  +  5.9770114943vw , 4.8125rem );
  }
}

@supports not (height: clamp( 1.5625rem , 0.3670977011rem  +  5.9770114943vw , 4.8125rem )) {
  .bottom-header__img-heart {
    height: calc(1.5625rem + 3.25 * (100vw - 20rem) / 54.375);
  }
}

.bottom-header__img-heart img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__shell-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }

  100% {
    -webkit-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

.main__slide {
  z-index: 2;
}

.bottom-header__img-left {
  position: absolute;
  top: 44px;
  left: 66px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  max-width: 400px;
  width: 100%;
  max-height: 526px;
  height: 100%;
}

.bottom-header__img-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-header__img-left-text {
  position: absolute;
  top: 0;
  left: 4px;
}

.bottom-header__img-right {
  position: absolute;
  bottom: 44px;
  right: 66px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  max-width: 400px;
  width: 100%;
  max-height: 526px;
  height: 100%;
}

.bottom-header__img-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-header__img-right-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.375rem;
  height: 0.75rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: #FFFFFF;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
  display: none;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  background-color: #28706F;
}

@supports (padding-top: clamp( 1.25rem , -0.5431034483rem  +  8.9655172414vw , 6.125rem )) {
  .footer {
    padding-top: clamp( 1.25rem , -0.5431034483rem  +  8.9655172414vw , 6.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.5431034483rem  +  8.9655172414vw , 6.125rem )) {
  .footer {
    padding-top: calc(1.25rem + 4.875 * (100vw - 20rem) / 54.375);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.1293103448rem  +  6.8965517241vw , 5rem )) {
  .footer {
    padding-bottom: clamp( 1.25rem , -0.1293103448rem  +  6.8965517241vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.1293103448rem  +  6.8965517241vw , 5rem )) {
  .footer {
    padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 54.375);
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 70px;
}

@supports (margin-bottom: clamp( 1.25rem , -0.2212643678rem  +  7.3563218391vw , 5.25rem )) {
  .footer__top {
    margin-bottom: clamp( 1.25rem , -0.2212643678rem  +  7.3563218391vw , 5.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.2212643678rem  +  7.3563218391vw , 5.25rem )) {
  .footer__top {
    margin-bottom: calc(1.25rem + 4 * (100vw - 20rem) / 54.375);
  }
}

.top-footer__logo {
  display: block;
  max-width: 280px;
  max-height: 30px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .top-footer__logo {
    margin-bottom: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .top-footer__logo {
    margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 54.375);
  }
}

.top-footer__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-footer__text {
  max-width: 360px;
  color: #91B6B6;
  line-height: 1.375;
}

@supports (margin-bottom: clamp( 1.25rem , 0.5603448276rem  +  3.4482758621vw , 3.125rem )) {
  .top-footer__text {
    margin-bottom: clamp( 1.25rem , 0.5603448276rem  +  3.4482758621vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5603448276rem  +  3.4482758621vw , 3.125rem )) {
  .top-footer__text {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-right: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .top-footer__text {
    margin-right: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem );
  }
}

@supports not (margin-right: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .top-footer__text {
    margin-right: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
  }
}

.top-footer__sec-logo {
  display: block;
  max-width: 245px;
  max-height: 45px;
}

.top-footer__sec-logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-footer__title {
  line-height: 1.375;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0px 0px 18px 0px;
}

.top-footer__links li:not(:last-child) {
  margin: 0px 0px 18px 0px;
}

.top-footer__link {
  line-height: 1.375;
  color: #91B6B6;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.top-footer__address {
  max-width: 260px;
  line-height: 1.375;
  color: #91B6B6;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.bottom-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 40px;
}

.bottom-footer__text {
  line-height: 1.375;
  color: #FFFFFF;
  opacity: 0.7;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.bottom-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 40px;
}

.bottom-footer__icon {
  font-size: 1.5rem;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.wrapper::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #28706F;
  z-index: 10;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.wrapper._loaded::before {
  background-color: transparent;
  pointer-events: none;
}

@supports (margin-bottom: clamp( 1.25rem , -2.658045977rem  +  19.5402298851vw , 11.875rem )) {
  .page__about {
    margin-bottom: clamp( 1.25rem , -2.658045977rem  +  19.5402298851vw , 11.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.658045977rem  +  19.5402298851vw , 11.875rem )) {
  .page__about {
    margin-bottom: calc(1.25rem + 10.625 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5926724138rem  +  1.724137931vw , 1.875rem )) {
  .about__title {
    margin-bottom: clamp( 0.9375rem , 0.5926724138rem  +  1.724137931vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5926724138rem  +  1.724137931vw , 1.875rem )) {
  .about__title {
    margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 54.375);
  }
}

.about__text {
  line-height: 1.6;
  color: #727E88;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
}

@supports (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .about__text {
    font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.908045977rem  +  0.4597701149vw , 1.25rem )) {
  .about__text {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .about__text {
    margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .about__text {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
  }
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 23%;
          flex: 1 0 23%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
}

.item-about__img {
  max-width: 70px;
  max-height: 70px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem )) {
  .item-about__img {
    margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem )) {
  .item-about__img {
    margin-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 54.375);
  }
}

.item-about__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-about__title {
  line-height: 1.3333333333;
  color: #000000;
  margin: 0px 0px 14px 0px;
}

@supports (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem )) {
  .item-about__title {
    font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem )) {
  .item-about__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 54.375);
  }
}

.item-about__text {
  font-size: 1rem;
  line-height: 1.625;
  color: #727E88;
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__product {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__product {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .product__title {
    margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .product__title {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
  }
}

.tabs-product__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 860px;
  margin: 0 auto;
  gap: 20px 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 1.5625rem , 0.2981321839rem  +  6.3218390805vw , 5rem )) {
  .tabs-product__navigation {
    margin-bottom: clamp( 1.5625rem , 0.2981321839rem  +  6.3218390805vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.2981321839rem  +  6.3218390805vw , 5rem )) {
  .tabs-product__navigation {
    margin-bottom: calc(1.5625rem + 3.4375 * (100vw - 20rem) / 54.375);
  }
}

.tabs-product__title {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  color: #28706F;
  text-align: center;
  border: 1px solid #28706F;
  border-radius: 31px;
  padding: 20px 32px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs-product__title._tab-active {
  color: white;
  background-color: #28706F;
}

.body-tabs-product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.body-tabs-product__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
}

.body-tabs-product__title {
  line-height: 1.375;
  font-weight: 500;
  color: #000000;
}

@supports (font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .body-tabs-product__title {
    font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .body-tabs-product__title {
    font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .body-tabs-product__title {
    margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .body-tabs-product__title {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 54.375);
  }
}

.body-tabs-product__text {
  font-size: 1rem;
  line-height: 1.625;
  color: #727E88;
}

@supports (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .body-tabs-product__text {
    margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .body-tabs-product__text {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 54.375);
  }
}

.body-tabs-product__img {
  max-width: 460px;
  max-height: 526px;
}

.body-tabs-product__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tags-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

.tags-product__tag {
  line-height: 1.5;
  margin: 0px 0px 8px 0px;
}

@supports (font-size: clamp( 1.25rem , 1.066091954rem  +  0.9195402299vw , 1.75rem )) {
  .tags-product__tag {
    font-size: clamp( 1.25rem , 1.066091954rem  +  0.9195402299vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.066091954rem  +  0.9195402299vw , 1.75rem )) {
  .tags-product__tag {
    font-size: calc(1.25rem + 0.5 * (100vw - 20rem) / 54.375);
  }
}

.tags-product__tag-mini {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  color: #727E88;
}

@supports (margin-bottom: clamp( 1.875rem , 1.6451149425rem  +  1.1494252874vw , 2.5rem )) {
  .tags-product__tag-mini {
    margin-bottom: clamp( 1.875rem , 1.6451149425rem  +  1.1494252874vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.6451149425rem  +  1.1494252874vw , 2.5rem )) {
  .tags-product__tag-mini {
    margin-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__bestsellers {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__bestsellers {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .bestsellers__title {
    margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .bestsellers__title {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
  }
}

.slide-bestsellers__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

.slide-bestsellers__img {
  max-width: 360px;
  max-height: 360px;
  margin: 0px 0px 20px 0px;
}

.slide-bestsellers__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-bestsellers__tag {
  line-height: 1.625;
  color: #727E88;
  margin: 0px 0px 8px 0px;
}

.slide-bestsellers__title {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.slide-bestsellers__text {
  line-height: 1.625;
  color: #727E88;
  margin: 0px 0px 20px 0px;
}

.slide-bestsellers__price {
  font-size: 1.75rem;
  line-height: 1.1428571429;
  margin: 0px 0px 20px 0px;
}

.slide-bestsellers__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 21px 70px;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: gold;
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__blog {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__blog {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 40px;
}

.blog__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-blog {
  position: relative;
  min-width: 460px;
}

.left-blog__img {
  max-width: 560px;
  max-height: 756px;
}

.left-blog__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-blog__item {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 460px;
  max-height: 250px;
  background-color: white;
  padding: 50px 0px 50px 40px;
}

.left-blog__title {
  line-height: 1.4375;
  font-weight: 500;
}

@supports (font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .left-blog__title {
    font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.974137931rem  +  1.3793103448vw , 2rem )) {
  .left-blog__title {
    font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem )) {
  .left-blog__title {
    margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.882183908rem  +  1.8390804598vw , 2.25rem )) {
  .left-blog__title {
    margin-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 54.375);
  }
}

.left-blog__shell-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-blog__icon {
  color: #28706F;
  font-size: 1rem;
  margin: 0px 0px 0px 5px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.left-blog__more {
  line-height: 1.375;
  color: #28706F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.right-blog {
  max-width: 560px;
}

.right-blog__mini-title {
  line-height: 1.625;
  font-weight: 500;
  color: #28706F;
  margin: 0px 0px 4px 0px;
}

.right-blog__title {
  text-align: start;
}

@supports (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .right-blog__title {
    margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3304597701rem  +  4.5977011494vw , 3.75rem )) {
  .right-blog__title {
    margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 54.375);
  }
}

.right-blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px 0;
}

.right-blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 40px;
}

.item-blog__img {
  max-width: 160px;
  max-height: 160px;
  width: 100%;
  height: 100%;
}

.item-blog__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-blog__title {
  line-height: 1.3333333333;
  font-weight: 500;
  margin: 0px 0px 12px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem )) {
  .item-blog__title {
    font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5rem )) {
  .item-blog__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 54.375);
  }
}

.item-blog__text {
  line-height: 1.375;
  color: #727E88;
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__partners {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__partners {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

.partners__title {
  position: relative;
  max-width: 178px;
  max-height: 134px;
  margin: 0 auto;
  overflow: hidden;
}

@supports (margin-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
  .partners__title {
    margin-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.7255747126rem  +  5.7471264368vw , 5rem )) {
  .partners__title {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 54.375);
  }
}

.partners__title::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 1.25rem;
  color: white;
}

.partners__title::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(229, 172, 142, 0)));
  background: -o-linear-gradient(top, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      -ms-transform: rotate(60deg) translate(-5em, 7.5em);
          transform: rotateZ(60deg) translate(-5em, 7.5em);
  -webkit-animation: sheen 3s infinite forwards;
          animation: sheen 3s infinite forwards;
}

.partners__title img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes sheen {
  30% {
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
            transform: rotateZ(60deg) translate(1em, -9em);
  }

  100% {
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
            transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes sheen {
  30% {
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
            transform: rotateZ(60deg) translate(1em, -9em);
  }

  100% {
    -webkit-transform: rotateZ(60deg) translate(1em, -9em);
            transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.partners__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 20px;
}

.partners__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24%;
          flex: 1 1 24%;
  max-width: 260px;
  max-height: 50px;
  min-width: 200px;
}

.partners__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__feedback {
    margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.4281609195rem  +  18.3908045977vw , 11.25rem )) {
  .page__feedback {
    margin-bottom: calc(1.25rem + 10 * (100vw - 20rem) / 54.375);
  }
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 100px;
}

.feedback__map {
  max-width: 700px;
  height: 650px;
  width: 100%;
  padding: 0 15px;
}

.form-feedback {
  max-width: 360px;
}

.form-feedback__title {
  line-height: 1.35;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .form-feedback__title {
    font-size: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .form-feedback__title {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 54.375);
  }
}

.form-feedback__text {
  line-height: 1.375;
  color: #727E88;
}

@supports (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .form-feedback__text {
    margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7902298851rem  +  2.2988505747vw , 2.5rem )) {
  .form-feedback__text {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 54.375);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem )) {
  .form-feedback__line {
    margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem )) {
  .form-feedback__line {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}

.form-feedback__input {
  width: 100%;
  height: 33px;
  border-bottom: 1px solid #EEEEEE;
  outline: none;
}

.form-feedback__input._form-error {
  color: red;
  border-bottom: 1px solid red;
}

.form-feedback__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form-feedback__input._form-error::-moz-placeholder {
  color: red;
}

.form-feedback__input._form-error:-ms-input-placeholder {
  color: red;
}

.form-feedback__input._form-error::-ms-input-placeholder {
  color: red;
}

.form-feedback__input._form-error::placeholder {
  color: red;
}

.form-feedback__textarea {
  resize: none;
  width: 100%;
  height: 113px;
  border-bottom: 1px solid #EEEEEE;
  outline: none;
}

.form-feedback__btn {
  width: 100%;
}

@supports (margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem )) {
  .form-feedback__btn {
    margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0201149425rem  +  1.1494252874vw , 1.875rem )) {
  .form-feedback__btn {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 54.375);
  }
}

.form-feedback__agreement {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  color: #727E88;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 90em) {
  html.menu-open .menu__body {
    width: 50%;
  }
}

@media (max-width: 75em) {
  .feedback__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 93.75em) {
  .bottom-header__img-left {
    display: none;
  }

  .bottom-header__img-left-text {
    display: none;
  }

  .bottom-header__img-right {
    display: none;
  }

  .bottom-header__img-right-text {
    display: none;
  }
}

@media (max-width: 68.75em) {
  .header__input {
    right: 0;
    left: auto;
    top: 0;
  }

  .header__input._active {
    right: 0;
    left: auto;
    top: 40px;
  }
}

@media (max-width: 62.5em) {
  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 61.99875em) {
  .blog__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .blog__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .left-blog {
    margin: 0 auto;
    min-width: auto;
  }

  .right-blog {
    max-width: none;
  }
}

@media (max-width: 47.99875em) {
  .header__icons {
    gap: 20px;
  }

  .header__bottom {
    margin: 0px 0px 0px 0px;
  }

  html.menu-open .menu__body {
    width: 75%;
  }

  .bottom-header__text {
    position: relative;
    top: auto;
    left: auto;
    padding: 0 15px;
    max-width: none;
  }

  .bottom-header__img-arrow {
    display: none;
  }

  .bottom-header__img-text {
    position: relative;
    top: auto;
    left: auto;
  }

  .top-footer__logo {
    margin: 0 auto 20px;
  }

  .top-footer__text {
    margin-right: 0;
  }

  .top-footer__sec-logo {
    margin: 0 auto;
  }

  .bottom-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-footer__copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-product__navigation {
    gap: 20px;
  }

  .body-tabs-product__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-tabs-product__shell {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-tabs-product__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .slide-bestsellers__item {
    max-width: none;
  }

  .left-blog__item {
    max-width: 300px;
    padding: 20px 0 20px 10px;
  }

  .right-blog__items {
    gap: 35px;
  }

  .right-blog__item {
    gap: 10px 20px;
  }

  .feedback__map {
    height: 400px;
  }
}

@media (max-width: 31.25em) {
  .top-footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }

  .right-blog__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (any-hover: hover) {
  .main-btn:hover {
    color: #28706F;
    background-color: #FFFFFF;
    border: 1px solid #28706F;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .top-footer__link:hover {
    text-decoration: underline;
    color: #FFFFFF;
  }

  .bottom-footer__text:hover {
    text-decoration: underline;
    opacity: 1;
  }

  .bottom-footer__icon:hover {
    -webkit-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }

  .tabs-product__title:hover {
    -webkit-box-shadow: 0px 0px 26px -4px rgba(40, 112, 111, 0.57);
            box-shadow: 0px 0px 26px -4px rgba(40, 112, 111, 0.57);
  }

  .left-blog__more:hover {
    text-decoration: underline;
  }

  .item-blog__title:hover {
    text-decoration: underline;
  }

  .partners__img img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}